In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load the data
data = pd.read_csv('/content/sample_data/melb_data.csv')

# Select target
y = data.Price

# To keep things simple, we'll use only numerical predictors
melb_predictors = data.drop(['Price'], axis=1)
X = melb_predictors.select_dtypes(exclude=['object'])

# Divide data into training and validation subsets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [4]:
X_train.shape

(10864, 12)

In [3]:
X_train

       Rooms  Distance  Postcode  ...  Lattitude  Longtitude  Propertycount
12167      1       5.0    3182.0  ...  -37.85984   144.98670        13240.0
6524       2       8.0    3016.0  ...  -37.85800   144.90050         6380.0
8413       3      12.6    3020.0  ...  -37.79880   144.82200         3755.0
2919       3      13.0    3046.0  ...  -37.70830   144.91580         8870.0
6043       3      13.3    3020.0  ...  -37.76230   144.82720         4217.0
...      ...       ...       ...  ...        ...         ...            ...
13123      3       5.2    3056.0  ...  -37.77695   144.95785        11918.0
3264       3      10.5    3081.0  ...  -37.74160   145.04810         2947.0
9845       4       6.7    3058.0  ...  -37.73572   144.97256        11204.0
10799      3      12.0    3073.0  ...  -37.72057   145.02615        21650.0
2732       4       6.4    3011.0  ...  -37.79430   144.88750         7570.0

[10864 rows x 12 columns]

In [5]:
X_train.isnull().sum()

Rooms               0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                49
Landsize            0
BuildingArea     5156
YearBuilt        4307
Lattitude           0
Longtitude          0
Propertycount       0
dtype: int64

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=10, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

#Three Approaches

### 1- A Simple Option: Drop Columns with Missing Values

In [8]:
# Get names of columns with missing values
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]

# Drop columns in training and validation data
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_valid = X_valid.drop(cols_with_missing, axis=1)

print("MAE from Approach 1 (Drop columns with missing values):")
print(score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid))

MAE from Approach 1 (Drop columns with missing values):
183550.22137772635

### 2- A Better Option: Imputation

In [9]:
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

# Imputation removed column names; put them back
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

print("MAE from Approach 2 (Imputation):")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

MAE from Approach 2 (Imputation):
178166.46269899711

### 3- An Extension To Imputation

In [15]:
# Make copy to avoid changing original data (when imputing)
X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

# Make new columns indicating what will be imputed
for col in cols_with_missing:
    X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
    X_valid_plus[col + '_was_missing'] = X_valid_plus[col].isnull()

# Imputation
my_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(my_imputer.transform(X_valid_plus))

# Imputation removed column names; put them back
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns

print("MAE from Approach 3 (An Extension to Imputation):")
print(score_dataset(imputed_X_train_plus, imputed_X_valid_plus, y_train, y_valid))

MAE from Approach 3 (An Extension to Imputation):
178927.503183954

In [13]:
cols_with_missing

['Car', 'BuildingArea', 'YearBuilt']

In [12]:
X_train_plus.head(10)

       Rooms  Distance  ...  BuildingArea_was_missing  YearBuilt_was_missing
12167      1       5.0  ...                      True                  False
6524       2       8.0  ...                      True                   True
8413       3      12.6  ...                      True                   True
2919       3      13.0  ...                      True                  False
6043       3      13.3  ...                     False                  False
547        5       9.7  ...                      True                   True
4655       4       9.9  ...                     False                  False
6082       3      13.5  ...                      True                   True
5519       3       6.6  ...                      True                  False
8571       4      13.8  ...                      True                   True

[10 rows x 15 columns]

In [11]:
# Shape of training data (num_rows, num_columns)
print(X_train.shape)

# Number of missing values in each column of training data
missing_val_count_by_column = (X_train.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

(10864, 12)
Car               49
BuildingArea    5156
YearBuilt       4307
dtype: int64

#Conclusion
As is common, imputing missing values (in Approach 2 and Approach 3) yielded better results, relative to when we simply dropped columns with missing values (in Approach 1).